{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Admin Panel Undone</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>
<link rel="stylesheet" href="{% static 'styledashboard.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Admin Panel</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user">&nbsp;</span>Hello {{user.first_name}}</a></li>
        <li class="active"><a title="View Website" href="#"><span class="glyphicon glyphicon-globe"></span></a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="col-md-3">

    <div id="sidebar">
      <div class="container-fluid tmargin">
        {% comment %} <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." />
          <span class="input-group-btn">
              <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div> {% endcomment %}
      </div>

      <ul class="nav navbar-nav side-bar">
        <li class="side-bar tmargin"><a href="{% url 'dashboard'  %}"><span class="glyphicon glyphicon-list">&nbsp;</span>Your Article</a></li>
        <li class="side-bar"><a href="{% url 'open_article'  %}"><span class="glyphicon glyphicon-flag">&nbsp;</span>Open Article</a></li>
        <li class="side-bar"><a href="{% url 'add_article'  %}"><span class="glyphicon glyphicon-flag">&nbsp;</span>Add Article</a></li>

      </ul>
    </div>
  </div>
  <div class="col-md-9 animated bounce">
    <h1 class="page-header">Dashboard</h1>
    
    <table class="table table-hover">
      <thead>
        {% comment %} <th>&nbsp;</th> {% endcomment %}
        {% comment %} <th class="text-center">#</th> {% endcomment %}
        <th>Title</th>
        <th class="text-center">Date</th>
        <th>Status</th>
        <th>&nbsp;</th>

      </thead>
      <tbody>
        <!--
          <tr>
            <td><input type="checkbox" /></td>
            <td class="text-center">1</td>
            <td width="70%">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
            <td class="text-center" width="10%">Admin</td>
            <td><span class="label label-info">Pending</span></td>
          </tr>
-->
        <!-- START CONTENT END -->
        {% for article in articles %}
          <tr>
            <td width="70%">{{ article.title }}</td>
            <td >{{ article.date }}</td>
            <td><span class="label 
            {% if article.status == 1 %} 
              label-danger 
            {% elif article.status == 2 %}
              label-info 
            {% elif article.status == 3 %}
              label-success 
            {% elif article.status == 4 %}
              label-primary 
            {% elif article.status == 5 %}
              label-warning 
            {% endif %} ">
            
              {% if article.status == 1 %} 
              Draft 
            {% elif article.status == 2 %}
              Open
            {% elif article.status == 3 %}
              Review
            {% elif article.status == 4 %}
              Approved 
            {% elif article.status == 5 %}
              Complete
            {% endif %}

            </span></td>
            {% if assign %}
              <td><a class="btn" href="{% url 'assign_article' article.pk  %}">assign</a></td>
            {% else %}
              <td><a class="btn" href="{% url 'edit_article' article.pk  %}">Edit</a></td>
            {% endif %}
          </tr>
          
        {% endfor %}

      </tbody>

    </table>
  </div>
</div>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
</body>
</html>
