{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>login screen</title>
  <link href="{% static 'style.css' %}" rel="stylesheet">


</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
	<div class="container">
	<h1>Welcome</h1>
	<form method="post">
		
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Login</button>
		</form>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{% static 'script.js' %}"></script>

</body>
</html>
