{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Button switch yes/no CSS</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:400,800,900,700,600,500,300,200,100'>
<link rel="stylesheet" href="{% static 'stylesure.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="cd-switch">
  <h2>Do you want to assign this article to you?</h2>
  <div class="switch">	
    <input onclick='window.open("{% url "assign_confirm" id 1 %}","_self")' type="radio" name="choice" id="yes" checked>
    <label for="yes">Yes</label>
    <input onclick='window.open("{% url "assign_confirm" id 0 %}","_self")' type="radio" name="choice" id="no">
    <label for="no">No</label>
    <span class="switchFilter"></span>
  </div>
</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>
