body, html {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  background-color: #E9DFD3;
}

h2 {
  font-size: 2rem;
  margin: 0.2em 0;
}

.cd-switch {
  padding: 50px 0;
  text-align: center;
}

.switchFilter {
  width: 0;
  display: inline-block;
  background-color: #DB6576;
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
}

label {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #3D4349;
  width: 85px;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.switch {
  position: absolute;
  display: inline-block;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  margin: 2em 0;
}
.switch input[type="radio"] {
  visibility: hidden;
  position: absolute;
  height: 100%;
}
.switch input[type="radio"]#yes:checked ~ label[for="yes"] {
  color: white;
  border: 1px solid #DB6576;
}
.switch input[type="radio"]#yes:checked ~ .switchFilter {
  left: 0;
  opacity: 1;
  width: 87px;
}
.switch input[type="radio"]#no:checked ~ label[for="no"] {
  color: white;
  border: 1px solid #DB6576;
}
.switch input[type="radio"]#no:checked ~ .switchFilter {
  left: 100px;
  width: 87px;
  opacity: 1;
}